
  
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    display:block;
    height: 40px;
    flex-direction:row;
    background-color:#161e35;
    color: white;
    font-size:30px;
    padding:20px;
    padding-top:22px;
    text-align:center;
    font-weight:bold;
    box-shadow: 0 3px 6px 0 #555;
  }
  
  .searchBox {
    display : flex;
  flex-direction: row;
  padding: 15px ;
  background-color: white;
  margin: 20px 60% 20px 33%;
  align-items: centre;
  width: 30%;
  justify-content: centre;
  border-radius:40px;
  border-color: black;
  }
  
  .searchInput {
    color: black;
    font-size: 16px;
    height:5vh;
    width:45vh;
    border-radius: 50px;
    outline: none;
    margin-left:8px;
    margin-top: 5px;
    box-shadow: 0 3px 6px 0 #555;
    background-color:#A6B2;
  }
  .span{
    margin-left: 400px;
  }
  .button-3 {
    appearance: none;
    background-color: #1DA1F2
    ;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    text-align: right;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position:absolute;
    margin-right: 0;
    margin-left: 500px ;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;

  }
  
.button-3:hover {
    background-color: #2c974b;
  }
  
.button-3:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
 
  